<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/home.css">
    <title>Library</title>
</head>

<body>
    <header class="header">
        <div class="nav">
            <a class="nav_item">Home</a>
            <a class="nav_item">Books</a>
            <a class="nav_item" href="/login">Login</a>
        </div>
    </header>
    <h1></h1>
</body>

</html>